<form>
  <h1>Calculadora</h1>

  <div class="input-group">
    <label for="num1">Número 01</label>
    <input type="number" name="num1" id="num1" />
  </div>

  <div class="input-group">
    <label for="num2">Número 02</label>
    <input type="number" name="num2" id="num2" />
  </div>

  <div class="operations-options-box">
    <input type="radio" name="Option" id="additionOption" />
    <label for="additionOption">Adição</label>

    <input type="radio" name="Option" id="subtractionOption" />
    <label for="subtractionOption">Subtração</label>

    <input type="radio" name="Option" id="multiplicationOption" />
    <label for="multiplicationOption">Multiplicação</label>

    <input type="radio" name="Option" id="divisionOption" />
    <label for="divisionOption">Divisão</label>

    <input type="radio" name="Option" id="percentageOption" />
    <label for="percentageOption">Porcentagem</label>

    <input type="radio" name="Option" id="squareRootOption" />
    <label for="squareRootOption">Raiz Quadrada</label>
  </div>

  <button>Calcular</button>

  <p id="result">{{ res }}</p>
</form>
