form {
    width: 80vw;
    margin: 10px auto;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 35px;

    border: 1px solid #000000;
    border-radius: 5px;
}

form h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

form .input-group {
    display: flex;
    flex-direction: column;
}

form .input-group label {
    font-weight: bold;
    margin-bottom: 4px;
}

form .input-group input[type="number"] {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

form .input-group input[type="number"]:hover {
    border: none;
}

form .operations-options-box {}
form .operations-options-box label {}
form .operations-options-box input {
    margin-left: 10px;
}

form button {
    border: none;
    background-color: #056605;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #077c07;
}

form #result {
    text-align: center;
    font-weight: bold;
}