<form>
  <h1>Calculadora</h1>

  <div class="input-group">
    <label for="num1">Número 01:</label>
    <input type="number" name="num1" id="num1" [(ngModel)]="num1" />
  </div>

  <div class="input-group">
    <label for="num2">Número 02:</label>
    <input type="number" name="num2" id="num2" [(ngModel)]="num2" />
  </div>

  <div class="operations-options-box">
    <button (click)="onClickSum()">+</button>
    <button (click)="onClickSubtraction()">—</button>
    <button (click)="onClickMultiplication()">x</button>
    <button (click)="onClickDivision()">÷</button>
    <button (click)="onClickPercentage()">%</button>
    <button (click)="onClickSquareRoot()">√</button>
  </div>

  <p id="result">{{ response }}</p>
</form>
