.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.container button {
    background-color: #005791;
    border: none;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container button:hover {
    opacity: .7;
}

.container button img {
    width: 30px;
}